.hero {
  position: relative;
  height: 100vh;
  width: 100vw;

  &__image {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    background-image: url(https://s3.us-east-2.amazonaws.com/honnold-assets/code-coding-computer-574077.jpg);
    background-position: center center;
    background-size: cover;
    filter: blur(0.25rem);
  }

  &__container {
    position: relative;
    height: 100%;
    width: 100%;
    background: rgba($primary-color, 0.95);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__header {
    font-family: $font-family-monospace;
    font-weight: 600; 
    margin: 2rem 0;

    &::before {
      content: 'Hello, ';
      color: $secondary-color;
    }

    &::after {
      content: 'World!';
      color: $white;
    }
  }

  &__code {
    color: $white;
    white-space: pre-line;

    strong {
      color: $secondary-color;
      font-weight: 600;
    }
  }
}
