.skills {
  background-color: $primary-color;
  color: $white;

  h5 {
    color: $secondary-color;
    margin-bottom: 1rem;
  }

  &__container {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    max-width: 1200px;
    margin: 0 auto;
  }

  &__languages {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;

    span {
      position: relative;
      display: inline-block;
      margin: 0 1rem;

      p {
        visibility: hidden;
        color: $secondary-color;
        text-align: center;
        padding: 0.125rem 0.25rem;
        margin: 0rem;
        position: absolute;
        left: 50%;
        top: 2.25rem;
        transform: translate(-50%, 0);
      }

      &:hover p {
        visibility: visible;
      }
    }

    i {
      font-size: 2rem;
    }

    div {
      width: 2rem;
      height: 2rem;
    }
  }

  &__other {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    span {
      margin: 0 1rem 1rem 1rem;
    }
  }
}