<section class="about">
  <div class="about__container">
    <img src="https://s3.us-east-2.amazonaws.com/honnold-assets/headshot.jpg" class="about__headshot">
    <h2 class="about__header">Jay Honnold</h2>
    <p class="about__text">I am a full-stack developer, with a majority of my experience in React, Rails, and Foundation.
      <br class="hide-for-small-only"> Throughout my career I have designed, built, and maintained different projects, utilizing the agile framework.
      <br class="hide-for-small-only"> I am currently attending Michigan Technological University to complete my CS Undergraduate Degree.</p>
    <div class="about__icons">
      <a href="https://github.com/jhonnold" target="_blank">
        <i class="fab fa-github-square"></i>
      </a>
      <a href="https://www.linkedin.com/in/jay-honnold-123275140/" target="_blank">
        <i class="fab fa-linkedin"></i>
      </a>
    </div>
  </div>
</section>