<section class="about text-center">
  <div class="grid-container">
    <div>
      <img class="headshot" src="https://assets.honnold.me/rsz_headshot.jpg">
    </div>
    <br>
    <h2>Jay Honnold</h2>
    <p>
      I am a full-stack developer, with a majority of my experience in React, Rails, and Foundation.
      <br class="hide-for-small-only"> 
      Throughout my career I have designed, built, and maintained different projects, utilizing the agile framework.
      <br class="hide-for-small-only">
    </p>
    <div class="grid-x align-center">
      <a class="h2" href="https://github.com/jhonnold" target="_blank">
        <span class="devicons devicons-github_badge"></span>
      </a>
    </div>
  </div>
</section>