<section class="about">
  <div class="about__container">
    <img src="{{root}}/assets/img/headshot.jpg" class="about__headshot">
    <h2 class="about__header">Jay Honnold</h2>
    <p class="about__text">I am a full-stack developer with experience in React, Ruby on Rails, and Express.
      <br class="hide-for-small-only"> Leveraging the Agile framework I have developed and maintained multiple projects.
      <br class="hide-for-small-only"> I am currently attending Michigan Technological University to complete my CS Undergraduate Degree.</p>
    <div class="about__icons">
      <a href="https://github.com/jhonnold" target="_blank">
        <i class="fab fa-github-square"></i>
      </a>
      <a href="https://www.linkedin.com/in/jay-honnold-123275140/" target="_blank">
        <i class="fab fa-linkedin"></i>
      </a>
    </div>
  </div>
</section>