<section class="hero">
  <div class="hero__image"></div>
  <div class="hero__container">
    <h1 class="hero__header"></h1>
    <pre class="hero__code">
      const <strong>Jay</strong> = {
      &nbsp;&nbsp;age: 23,
      &nbsp;&nbsp;developer: true,
      &nbsp;&nbsp;designer: true,
      };
    </pre>
  </div>
</section>