<section class="hero">
  <div class="hero__container">
    <h1 class="hero__header"></h1>
    <pre class="hero__code" id="hero-code">
    </pre>
    <a class="hero__cta">Scroll Down</a>
  </div>
</section>