<section class="projects">
  <div class="projects__container">
    <h5>Projects</h5>
    <div class="projects__tile-container">
      {{#each projects}}
      <a class="projects__tile" href="{{this.url}}" target="_blank">
        <img src="{{this.imageUrl}}" />
        <span>
          <h6>{{this.title}}</h6>
          <ul>
            {{#each this.stack}}
            <li>{{this}}</li>
            {{/each}}
          </ul>
        </span>
      </a>
      {{/each}}
    </div>
  </div>
</section>