<section class="text-center">
  <div class="grid-container">
    <div class="grid-x grid-margin-x">
      {{#each projects}}
      <div class="cell small-12 medium-6">
        <div class="card">
          <div class="card-section">
            <h5>{{this.title}}</h5>
            <span>{{this.stack}}</span>
          </div>
          <div class="card-image">
            <img src="{{this.imageUrl}}" />
          </div>
        </div>
      </div>
      {{/each}}
    </div>
</section>