<section class="projects">
  <div class="projects__container">
    <h5>Previous Projects</h5>
    <div class="projects__tile-container">
      <div class="projects__tile">
        <img src="../assets/img/coder_platform.png" />
        <span>
          <h6>Coder Platform</h6>
          <p>Description</p>
        </span>
      </div>
      <div class="projects__tile">
        <img src="../assets/img/coder_website.png" />
        <span>
          <h6>Coder Website</h6>
          <p>Description</p>
        </span>
      </div>
      <div class="projects__tile">
        <img src="../assets/img/aceanatomy.png" />
        <span>
          <h6>AceAnatomy Website</h6>
          <p>Description</p>
        </span>
      </div>
      <div class="projects__tile">
        <img src="../assets/img/sam_blog.jpg" />
        <span>
          <h6>Friends Personal Blog</h6>
          <p>Description</p>
        </span>
      </div>
    </div>
  </div>
</section>