<section class="projects">
  <div class="projects__container">
    <h5>Projects</h5>
    <div class="projects__tile-container">
      {{#each projects}}
      <a href="{{this.url}}" target="_blank">
        <div class="projects__tile">
          <img src="{{this.imageUrl}}" />
          <span>
            <h6>{{this.title}}</h6>
            <ul>
              {{#each this.stack}}
              <li>{{this}}</li>
              {{/each}}
            </ul>
          </span>
        </div>
      </a>
      {{/each}}
    </div>
  </div>
</section>