<section class="dark-theme text-center">
  <div class="grid-container">
    <h5 class="text-secondary">Programming Languages</h5>
    <div class="grid-x grid-margin-x align-center">
      <h3 class="cell small-1">
        <span class="devicons devicons-javascript" title="Javascript"></span>
      </h3>
      <h3 class="cell small-1">
        <span class="devicons devicons-nodejs_small" title="NodeJS"></span>
      </h3>
      <h3 class="cell small-1">
        <span class="devicons devicons-ruby" title="Ruby"></span>
      </h3>
      <h3 class="cell small-1">
        <span class="devicons devicons-python" title="Python"></span>
      </h3>
      <h3 class="cell small-1">
        <span class="devicons devicons-java" title="Java"></span>
      </h3>
    </div>
    <h5 class="text-secondary">Other</h5>
    <div class="grid-x grid-margin-x align-center">
      <h4 class="cell small-1">
        <span class="devicons devicons-html5" title="HTML5"></span>
      </h4>
      <h4 class="cell small-1">
        <span class="devicons devicons-css3" title="CSS3"></span>
      </h4>
      <h4 class="cell small-1">
        <span class="devicons devicons-sass" title="SaSS"></span>
      </h4>
      <h4 class="cell small-1">
        <span class="devicons devicons-jquery" title="jQuery"></span>
      </h4>
      <h4 class="cell small-1">
        <span class="devicons devicons-react" title="React"></span>
      </h4>
      <h4 class="cell small-1">
        <span class="devicons devicons-ruby_on_rails" title="Ruby on Rails"></span>
      </h4>
      <h4 class="cell small-1">
        <span class="devicons devicons-mysql" title="MySQL"></span>
      </h4>
      <h4 class="cell small-1">
        <span class="devicons devicons-postgresql" title="PostgreSQL"></span>
      </h4>
    </div>
  </div>
</section>